button{
    background: #00ADDD;
    border-radius: 0px;
    border: none;
    padding: 9px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}

button.danger{
    background: #FFB563;
}

button.small{
    padding: 6px;
    font-size: 10px;
}