button{
    background: #00ADDD;
    border-radius: 0px;
    border: none;
    padding: 9px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}

button.danger{
    background: #FFB563;
}

button.small{
    padding: 6px;
    font-size: 10px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 2px 7px;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.badge.live {
    background-color: #ff7158;
}


select, input:not([type=range]) {
    border: none;
    background: transparent;
    padding: 7px 0 7px 0;
    color: #505050;
    border-bottom: 2px solid rgba(224, 224, 224, 0.78);
    -webkit-transition: border .3s ease-in-out;
    -moz-transition: border .3s ease-in-out;
    -ms-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
}

select:focus, input:focus {
    outline: none;
    border-bottom-color: #00D8A9;
}

/* Input range design */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 5px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 0.8px 0.8px 0px rgba(0, 0, 0, 0), 0px 0px 0.8px rgba(13, 13, 13, 0);
    background: rgba(216, 218, 220, 0.99);
    border-radius: 0px;
    border: 0px solid #000001;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0.19);
    height: 12px;
    width: 13px;
    border-radius: 50px;
    background: #2f8ad7;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(216, 218, 220, 0.99);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 0.8px 0.8px 0px rgba(0, 0, 0, 0), 0px 0px 0.8px rgba(13, 13, 13, 0);
    background: rgba(216, 218, 220, 0.99);
    border-radius: 0px;
    border: 0px solid #000001;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0.19);
    height: 12px;
    width: 13px;
    border-radius: 50px;
    background: #2f8ad7;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: rgba(216, 218, 220, 0.99);
    border: 0px solid #000001;
    border-radius: 0px;
    box-shadow: 0.8px 0.8px 0px rgba(0, 0, 0, 0), 0px 0px 0.8px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
    background: rgba(216, 218, 220, 0.99);
    border: 0px solid #000001;
    border-radius: 0px;
    box-shadow: 0.8px 0.8px 0px rgba(0, 0, 0, 0), 0px 0px 0.8px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0.19);
    height: 12px;
    width: 13px;
    border-radius: 50px;
    background: #2f8ad7;
    cursor: pointer;
    height: 2px;
}
input[type=range]:focus::-ms-fill-lower {
    background: rgba(216, 218, 220, 0.99);
}
input[type=range]:focus::-ms-fill-upper {
    background: rgba(216, 218, 220, 0.99);
}
